@import './reset.scss';

/* roboto-condensed-regular - cyrillic */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/roboto-condensed-v19-cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-condensed-v19-cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-condensed-700 - cyrillic */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/roboto-condensed-v19-cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-condensed-v19-cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
  overflow:  hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto Condensed';
  font-size: 16px;
  background-color: #020923;
}

.header {
  position: fixed;
  width: 100%;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 40px;
}

.header__title,
.nav__link,
.menu__login,
.menu__button {
  text-decoration: none;
  color: #a1a6ba;
  transition: color 0.5s ease-out;

  &:hover {
    color: #ccd1e6;
  }
}

.header__title {
  margin-left: 30px;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
}

.nav__item {
  margin-right: 60px;
}

.header__menu-block {
  display: flex;
  margin-right: 50px;
}

.menu__login {
  display: flex;
  align-items: flex-start;
  margin-right: 30px;
}

.login__icon {
  margin-right: 5px;
}

.main__outer-circle {
  width: 900px;
  height: 900px;
  border-radius: 50%;
  border: 2px solid #363c55;
  margin: -20px auto 0 auto;
  background: rgb(74,78,126);
  background: radial-gradient(circle, rgba(74,78,126,1) 0%, rgba(45, 50, 85, 0.9) 25%, rgba(39, 45, 78, 0.7) 50%, rgba(22, 27, 54, 0.5) 75%, rgba(29,34,68,1) 100%);
  -webkit-box-shadow: 0px 0px 100px 47px rgba(37, 41, 68, 0.54);
  -moz-box-shadow: 0px 0px 100px 47px rgba(37, 41, 68, 0.54);
  box-shadow: 0px 0px 100px 47px rgba(37, 41, 68, 0.54);
}

.main__inner-circle {
  width: 550px;
  height: 550px;
  border-radius: 50%;
  border: 2px solid #363c55;
  margin: 170px auto;
}

%hexagon-part {
  position: absolute;
  content: '';
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background-color: inherit;
  z-index: -1;
  -webkit-box-shadow: 0 -6px 4px -4px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 -6px 4px -4px rgba(0, 0, 0, .2);
  box-shadow: 0 -6px 4px -4px rgba(0, 0, 0, .2);
}

%hexagon-base {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 8.5px;
  background-color: #ffffff;
  transition: all .5s;
  z-index: 1;
  cursor: pointer;

  &::before {
    @extend %hexagon-part;
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }

  &::after {
    @extend %hexagon-part;
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
  }
}

.hexagon-1 {
  width: 66px;
  height: 110px;
  margin-top: 620px;
  margin-left: 30px;
  @extend %hexagon-base;
}

.hexagon-2 {
  width: 102px;
  height: 170px;
  margin-top: 490px;
  margin-left: 175px;
  @extend %hexagon-base;
}

.hexagon-3 {
  height: 260px;
  width: 156px;
  margin-top: 320px;
  margin-left: 372px;
  @extend %hexagon-base;
}

.hexagon-4 {
  width: 102px;
  height: 170px;
  margin-top: 230px;
  margin-left: 620px;
  @extend %hexagon-base;
}

.hexagon-5 {
  width: 66px;
  height: 110px;
  margin-top: 170px;
  margin-left: 800px;
  @extend %hexagon-base;
}

.hexagon--1,
.hexagon-0 {
  width: 30px;
  height: 50px;
  transform: translate(-1720px, 2000px);
  @extend %hexagon-base;
}

.hexagon-6,
.hexagon-7 {
  width: 30px;
  height: 50px;
  transform: translate(1500px, -500px);
  @extend %hexagon-base;
}

.hexagon__title_bold {
  font-size: 36px;
  font-weight: bold;
  transition: all .5s;
}

.hexagon__title {
  word-spacing: 50px;
  font-size: 20px;
  font-weight: bold;
  transition: all .5s;
}

.hexagon__subtitle {
  font-size: 20px;
  line-height: 50px;
  transition: all .5s;
}

.hexagon__button {
  margin-bottom: 30px;
  background-color: transparent;
  border: 1px solid #000000;
  font-family: 'Roboto Condensed';
  font-size: 16px;
  cursor: pointer;
  padding: 8px 11px;
  border-radius: 5px;
  transition: background-color .5s;

  &:hover {
    background-color: #00000011
  }
}

.first-block {
  position: absolute;
  top: 302px;
  width: 42%;
  border-top: 130px solid #ffffff;
  border-left: 0px solid transparent;
  border-right: 75px solid transparent;
  left: 0;
  transition: all .5s;
  border-radius: 0 10px 0 0;
}

.first-block_hide {
  position: absolute;
  left: -2000px;
}

.second-block_hide {
  position: absolute;
  right: -2000px;
}

.first-block__text {
  position: absolute;
  top: -87px;
  right: 50px;
  color: #000000;
  font-size: 36px;
  font-weight: bold;
}

.second-block {
  position: absolute;
  top: 432px;
  width: 41.5%;
  border-bottom: 130px solid #ffffff;
  border-left: 75px solid transparent;
  border-right: 0 solid transparent;
  right: 0;
  transition: all .5s;
  border-radius: 0 0 0 10px;
}

.second-block__text {
  position: absolute;
  top: 50px;
  left: 50px;
  font-size: 36px;
  font-weight: bold;
}

@media (max-width: 900px) {
  .nav__item {
    margin-right: 20px;
  }
  
  .main__outer-circle {
    width: 700px;
    height: 700px;
  }
  
  .main__inner-circle {
    width: 425px;
    height: 425px;
    margin: 132px auto;
  }

  .hexagon-1 {
    width: 51px;
    height: 85px;
    margin-left: 20px;
    margin-top: 480px;
  }

  .hexagon-2 {
    width: 79px;
    height: 132px;
    margin-left: 140px;
    margin-top: 380px;
  }

  .hexagon-3 {
    height: 202px;
    width: 121px;
    margin-left: 290px;
    margin-top: 249px;
  }

  .hexagon-4 {
    width: 79px;
    height: 132px;
    margin-left: 480px;
    margin-top: 180px;
  }

  .hexagon-5 {
    width: 51px;
    height: 85px;
    margin-left: 620px;
    margin-top: 130px;
  }

  .hexagon__title_bold {
    font-size: 28px;
  }

  .first-block {
    top: 230px;
    width: 40%;
    border-top: 101px solid #ffffff;
    border-right: 58px solid transparent;
  }

  .first-block__text {
    right: 30px;
    font-size: 26px;
    margin-top: 20px;
  }

  .second-block {
    top: 335px;
    width: 39.5%;
    border-bottom: 101px solid #ffffff;
    border-left: 58px solid transparent;
  }

  .second-block__text {
    left: 30px;
    font-size: 26px;
    top: 35px;
  }
}

@media (max-width: 415px) {
  .header__title {
    margin-left: 0px;
    order: 0
  }

  .header__title,
  .header__nav,
  .header__menu-block {
    margin-top: 10px;
  }

  .header__menu-block {
    order: 1;
  }

  .header__nav {
    order: 2;
  }

  .header {
    left: 10px;
    top: 10px;
  }

  .header__wrapper {
    padding-top: 0px;
  }

  .main__outer-circle {
    margin-top: 150px;
    width: 350px;
    height: 350px;
  }
  
  .main__inner-circle {
    width: 212.5px;
    height: 212.5px;
    margin: 70px auto;
  }

  .hexagon-1 {
    width: 30px;
    height: 50.4px;
    margin-left: 15px;
    margin-top: 245px;
    border-radius: 3px;
  }

  .hexagon-2 {
    width: 39px;
    height: 66px;
    margin-left: 70px;
    margin-top: 200px;
    border-radius: 3px;
  }

  .hexagon-3 {
    height: 101px;
    width: 60px;
    margin-left: 145px;
    margin-top: 130px;
    border-radius: 3px;
  }

  .hexagon-4 {
    width: 39px;
    height: 66px;
    margin-left: 240px;
    margin-top: 95px;
    border-radius: 3px;
  }

  .hexagon-5 {
    width: 30px;
    height: 50.4px;
    margin-left: 308px;
    margin-top: 65px;
    border-radius: 3px;
  }

  .hexagon--1,
  .hexagon-0 {
    transform: translate(-2000, 3000px);
  }
  .hexagon-6,
  .hexagon-7 {
    transform: translate(2000, -3000px);
  }

  .hexagon__title {
    font-size: 12px;
    word-spacing: 0px;
  }

  .hexagon__subtitle {
    font-size: 16px;
    line-height: 20px;
  }


  .first-block__text,
  .second-block__text,
  .hexagon__title_bold {
    font-size: 16px;
  }

  .hexagon__button {
    padding: 0;
    margin-bottom: 0px;
    font-size: 14px;
  }

  .first-block {
    top: 280px;
    width: 40%;
    border-top: 50px solid #ffffff;
    border-right: 30px solid transparent;
    border-radius: 0 3px 0 0;
  }

  .first-block__text {
    right: 20px;
    top: -55px;
  }

  .second-block {
    top: 335px;
    width: 39%;
    border-bottom: 50px solid #ffffff;
    border-left: 30px solid transparent;
    border-radius: 0 0 0 3px;
  }

  .second-block__text {
    left: 15px;
    top: 15px;
  }
}

@media (max-width: 320px) {
  .first-block__text {
    right: 10px;
    font-size: 14px;
  }

  .second-block {
    right: -35px;
  }

  .second-block__text {
    left: 2px;
    font-size: 14px;
  }
}